/* ----- GLOBAL RESET ----- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----- BODY ----- */
body {
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(219, 252, 252);
    /* FONTS */
    font-size: 1.25rem;
    font-family: "Special Elite", sans-serif;
    color: rgb(61, 63, 65);
}


/* ----- ELEMENT FORMATTING ----- */
img, picture, video, canvas, svg, iframe {
    display: block;
    max-width: 100%;
}

audio {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* ----- HEADER ----- */
header {
    background-color: rgb(189, 238, 238);
    padding: 1rem;
}

h1 {
    padding: 1rem;
}

/* ----- MAIN ----- */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
    margin: 1rem;
}

.questionMarkButton {
    grid-column-start: 12;
    float: right;
    padding: 0.5rem;
    margin: 1rem;
    height: 60px;
    width: 60px;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 40%;
    background-color: rgb(219, 252, 252)
}

/* ----- CAROUSEL ----- */
#helpDialog {
    position: fixed;
    inset: auto;   /* cancels browser's inset: 0 */
    margin: 0;     /* cancels browser's margin: auto */

    top: 250px;               /* adjust to your layout */
    right: 100px;              /* adjust to your layout */

    background-color: rgb(160, 224, 224);
    border-radius: 1rem;
    padding: 1rem;
}

.closeDialog {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    float: right;
    color: black;
    margin: 1rem;
    z-index: 999;
}

/*Carousel Dialogue*/

/*Carousel Indicators*/

/*Carousel Contents*/
.carousel-item {
    text-align: center;
    padding: 2rem;
}

.carousel-item h2 {
    font-size: 1.5rem;
}

.carousel-item p {
    font-size: 1.2rem;
}

/*Make Carousel Buttons Black*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
    z-index: 555;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}

.carousel-indicators .active {
  background-color: black;
}